
/* nav */
li.nav-item :hover{color: red;}


h1.animate__heartBeat{ 
    display: grid;
    justify-content: center;
}

main{
    background-image: url(../imag/fondos/fondo\ de\ link.png);
}
.carousel-padre{
    width: 50vw;
    margin: 0 auto;
}

.card{
    width: 25vw;
    margin: 0 auto;
}
.card {width: 300px;}

/* tarjeta de sucursal */
.row.row-cols-1.row-cols-sm-2.g-3 {
    width: 100%;
    margin: 0 auto;
}
.formi{display: grid;
    flex-direction: column;
    align-items: center;}
.boton-registrar{
    display: grid;
    justify-content: center;
}
    .col{padding: 25px;}
.footer {
    background-color: #007EA7;

    padding: 2px;
}

footer .iconos {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;}